datasets/
backend/models/*.h5
__pycache__/
*.pyc
.env
*.zip
*.dat
*.hea
*.atr
serviceAccountKey.json 
backend/models/ 
backend/serviceAccountKey* 
app/health_monitor/build/ 
app/health_monitor/.dart_tool/ 
app/health_monitor/ios/ 
app/health_monitor/macos/ 
app/health_monitor/linux/ 
app/health_monitor/windows/ 
firmware/esp32_health_monitor/secrets.h 
